= form_for(@tumblrpost) do |f|
  - if @tumblrpost.errors.any?
    #error_explanation
      %h2
        = pluralize(@tumblrpost.errors.count, "error")
        prohibited this tumblrpost from being saved:
      %ul
        - @tumblrpost.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :user_id
    %br/
    = f.number_field :user_id
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :body
    %br/
    = f.text_area :body
  .actions
    = f.submit
